

  <h1>Real Tennis: the sport of kings</h1>


<form action = "/match" method = "POST">
  <p><input type = "submit" value = "New Game"></p>
</form>


  <% if current_user %>
    <form action = "/scores/<%= current_user.id %>" method = "GET">
      <p><input type = "submit" value = "View your Scores"></p>
    </form>
  <% end %>