<div class="container">

 <div class="player_score">a</div>
 <div class="comp_score">b</div>
 <div class="player_games_won">c</div>
 <div class="comp_games_won">d</div>

 <div class="narration"></div>

 <button id="railroad">railroad</button>
 <button id="bobble">bobble</button>
 <button id="pique">pique</button>
 <button id="boomerang">boomerang</button>
 <button id="giraffe">giraffe</button>

</div>
