<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/mousetrap.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/match.js"></script>
  <script src="/js/application.js"></script>

  <title>Real Tennis</title>
</head>
<body>
  <div id="wrapper">
    <div id="header">
    <nav>
      <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/about">About</a></li>
      </ul>
    </nav>
      <div id="login-toolbar">
          <% if current_user %>
            <button><a href="/logout">Logout</a></button>
          <% else %>
            <button id="login_button"><a href='/login'>Login</a></button> | <button id="signup_button"><a href='/signup'>Signup</a></button>
          <% end %>
      </div>
    </div>
    <div class='content'>
    <%= yield %>
    </div>
    <div id="footer">
      <footer>&copy; Adrian Carton de Wiart 1897</footer>
    </div>
  </div>
</body>
</html>
